.filter-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 0px;
  }
  
  .filter-bar span {
    margin-right: 10px;
  }
  
  .filter-bar button {
    background: none;
    border: none;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    border-bottom: 2px solid transparent;
  }
  
  .filter-bar button.active,
  .filter-bar button:hover {
    border-bottom: 2px solid #ffcc00;
  }
  