/* App.css */

.App-header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #333;
  color: white;
  padding-top: 20px;
}

.logo99 img {
  height: 75px;
}

.nav_cnx12 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.create-account-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.create-account-button1 {
  background-color: #FFDE2F;
  color: #1E1E1E;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
}
.account-button1 {
  margin-left: 5px;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  
  
  
}
.create-account-button1:hover {
  background-color: transparent;
  color: #FFDE2F;
  border: solid 2px #FFDE2F;
  transition: color border  0.3s ease;
  transition: background-color  0.3s ease;
}
.account-button1:hover {
  color: #FFDE2F;
  transition: color 0.3s ease;
  
  
}
.account-text1 {
  font-size: 14px;
  color: white;
}
.middle1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  padding-left: 50px;
  height: 600px;
}
.hero1{
  padding-left: 100px;
  width: 60%;
  font-size: 25px;
}
.word1{
  font-family: freestyle script ;
  color: #FFDE2F;
  font-size: 50px;
}
.sous-titre1{
  color: rgba(255, 255, 255, 0.522);
  font-family: freestyle script ;
  font-size: 40px;
}
.buttons1{
display: flex;
width: 100%;  
}
.plumber_image1{
  width: 40%;
  align-items: center;
  justify-content: center;
}

.plumber_image1 img{
  height: 650px;
  justify-content: center;
}
.service-search1{
  width: 40%;
  background-color: #1c1c1ce0;
  margin-top: -70px;
  padding: 20px;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: solid 1px #191919;
  border-radius: 2px;
  height: 250px;
  text-align: center;
  color: white;
  font-size: 30px;
}
.services1{
  display: grid;
  place-items: center;
  margin-bottom: 100px;
}
.list1 {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  border: 2px solid #FFDE2F;
  border-radius: 4px;
  width: 200px; /* Ajustez la largeur selon vos besoins */
  background-color: transparent;
  color: black;
  margin-right: 10px;
}

.lis1t:hover,
.list1:focus {
  border-color: #FFDE2F; /* Couleur de la bordure au survol ou au focus */
  outline: none; /* Supprime l'outline par défaut */
}

.list1 option {
  background-color: white; /* Couleur de fond des options */
  color: #333; /* Couleur du texte des options */
  font-weight: bold;
  border: solid 2px #FFDE2F;
}

.list1 option:hover {
  background-color: #FFDE2F; /* Couleur de fond des options au survol */
  color: white; /* Couleur du texte des options au survol */
}