.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .signup-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* .logo {
    max-width: 100px;
    margin-bottom: 10px;
  } */
  
  .signup-header h2 {
    margin: 0;
    color: black;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .form-box {
    background-color: #1c1c1c;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 45%;
  }
  
  .form-box h3 {
    color: yellow;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    color: white;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .input-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-top: 2vh;
    width: 100%;
    padding: 10px;
    background-color: #1c1c1c;
    border: 2px solid #e6b800; 
    border-radius: 4px;
    color: #e6b800; 
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e6b800;
  }
  
  .input-group a {
    color: yellow;
    
  }
  .input-group input[type="checkbox"] {
    margin-right: 0px;
    
  }
  