body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .top-left span {
    font-size: 14px;
    color: #666;
  }
  
  .container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1E1E1E;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .title h2 {
    font-size: 20px;
    font-weight: bold;
    color: #FFDE2F;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="date"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
  
  .inline-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .inline-inputs input[type="text"] {
    width: 48%;
    margin: 0 10px;
  }
  
  .form-group input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .form-group label a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .form-group label a:hover {
    color: #23527c;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #337ab7;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #23527c;
  }